version: "3.8"

services:
  mongo:
    image: mongo:6.0
    container_name: skillup-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: skillup-backend
    restart: always
    ports:
      - "3000:3000"
    environment:
      MONGODB_URI: mongodb://mongo:27017/skillupdb
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
      args:
        - VITE_API_URL=http://backend:3000
    container_name: skillup-frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo-data:
